streamlit
streamlit-extras
streamlit-card
streamlit-carousel
streamlit-option-menu
python-dotenv
requests
pandas
numpy
scikit-learn
sqlalchemy
passlib[bcrypt]
sentence-transformers
faiss-cpu
surprise
